{% extends 'layouts/nav.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/consulta_medica.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/asignacionMenu.css' %}">
    {% include 'layouts/fichaIdentificacion.html' %}
    <form class="historial-clinico" id="consultaForm" method="post" action="{% url 'ConsultaMedica' ID_cita %}">

        {% csrf_token %}
        {% include 'layouts/pestañitas.html' %}
        {% include 'layouts/historialClinico.html' %}
        {% if especialidadJson.exploracion_fisica == "si" %}
            {% include 'layouts/exploracionFisica2.html' %}
            {% include 'layouts/graficas.html' %}
        {% endif %}
        {% if especialidadJson.diagnostico_tratamiento == "si" %}
            {% include 'layouts/diagnostico.html'%}
        {% endif %}
        {% if especialidadJson.asignacion_menu == "si" %}
            {% include 'pruebaNutri.html' %}
        {% endif %}
    </form>
{% endblock %}