<div class="contenido" id="DX-TX" style="display: none;">
    <div class="diagnostico">
        <h2>Diagnostico</h2>
        <textarea rows="15" cols="50" id="diagnostico" name="diagnostico" required></textarea>
        <div class="botones-PA">
            <!--<button id="anterior">Ver anteriores</button>-->
            <!-- <button id="aceptar">Aceptar</button> -->
            <!-- <button id="" onclick="siguiente('dx-tx')">Siguiente</button> -->
            <input type="button" onclick="siguiente('dx-tx')" value="Siguiente">
        </div>
    </div>
    <div class="tratamiento">
        <h2>Tratamiento</h2>
        <div class="inputs">
            <div class="farmacologico">
                <label>Farmacologico</label> <center><textarea rows="6" cols="50" name="tratamiento_far"></textarea></center>
             </div>
            <div class="nofarmacologico">
               <label>No farmacologico</label> <center><textarea rows="6" cols="50" name="tratamiento_nfar"></textarea></center>
            </div>
        </div>
    </div>
</div>