<div class="contenido" id="graficas" style="display: none;">
    <div class="input">
        <label>Selecciona la grafica:</label>
        <select name="tipo" id="tipo">
            <option value=1>Peso</option>
            <option value=2>Talla</option>
            <option value=3>IMC</option>
            <option value=4>Glucosa</option>
            <option value=5>Creatinina</option>
            <option value=6>Filtración Glomerular</option>
            <option value=7>TA Sistolica</option>
            <option value=8>TA Diastolica</option>
            <option value=9>Frecuencia cardica</option>
            <option value=10>Frecuencia respiratoria</option>
            <option value=11>Temperatura</option>
        </select>
    </div>
    <div class="mostrar-grafico">
        <button id="anterior" onclick="mostrarGrafico()" style="border-radius: 32px; height: 32px;font-size: 14px;outline: 0;border: 0;">Ver gráfica</button>
        <div id="grafico-container">
        </div>
    </div>
</div>
<script>
    function mostrarGrafico() {
        var tipo = parseInt(document.getElementById('tipo').value, 10);
        var url = "{% url 'grafica' id=1 tipo=0 %}".replace(0, tipo);
        console.log(url);

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById('grafico-container').innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", url, true);
        xhttp.send();
    }
</script>
