<div class="contenido" id="GENERAL">
    <center><h2>Historial clinico</h2></center>
    <div class="antecedentes-patologicos">
        <h3>Antecedentes No Patologicos</h3>
        <h4>Toxicomania</h4>
        {% if item in AP_toxi %}
            {% for item in AP_toxi %}
                <h6>{{item.nombre}}: Si  Cantidad: {{item.cantidad}}  Frecuencia: {{item.frecuencia}}  Tiempo: {{item.tiempo}} años</h6>
            {% endfor %}
        {% else %}
            <h5>El paciente no cuenta con ninguna Toxicomania registrada.</h5>
        {% endif %}
        <h4>Antecendentes quirurjicos</h4>
        {% for item in AP_qui %}
            <p>Tipo: {{item.tipo}} Tiempo: {{item.tiempo}} años</p>
        {% endfor %}
        <h4>Antecedentes transfuncionales</h4>
        {% for item in AP_tran %}
            <p>Tipo: {{item.tipo}} Tiempo: {{item.tiempo}} años</p>
        {% endfor %}
        <h4>Alergias</h4>
        {% for item in AP_al %}
            <p>{{item.nombre}}</p>
        {% endfor %}
        <h4>Vacunación</h4>
        {% for item in AP_vac %}
            <p>Nombre: {{item.nombre}}  Dosis: {{item.dosis}}  Año: {{item.año}}</p>
        {% endfor %}
    </div>
    <div class="antecedentes-no-patologicos">
        <h3>Antecedentes Patologicos</h3>
        {% for item in AP %}
            <p>{{item.patologia}}</p>
        {% endfor %}
    </div>
</div>