<div class="contenido" id="GENERAL">
    <center><h2>Historial clinico</h2></center>
    <div class="antecedentes-patologicos">
        <h3>Antecedentes No Patologicos</h3>
        <h4>Toxicomania</h4>
        {% if AP_toxi %}
            {% for item in AP_toxi %}
                <p>{{item.nombre}}: Si  Cantidad: {{item.cantidad}}  Frecuencia: {{item.frecuencia}}  Tiempo: {{item.tiempo}} años</p>
            {% endfor %}
        {% else %}
            <p>El paciente no cuenta con ninguna Toxicomania registrada.</p>
        {% endif %}
        <br>
        <h4>Antecendentes quirurgicos</h4>
        {% if AP_qui %}
            {% for item in AP_qui %}
                <p>Tipo: {{item.tipo}} Tiempo: {{item.tiempo}} años</p>
            {% endfor %}
        {% else %}
            <p>El paciente no cuenta con ningún Antecedente quirurgico registrado.</p>
        {% endif %}
        <br>
        <h4>Antecedentes transfuncionales</h4>
        {% if AP_tran %}
            {% for item in AP_tran %}
                <p>Tipo: {{item.tipo}} Tiempo: {{item.tiempo}} años</p>
            {% endfor %}
        {% else %}
            <p>El paciente no cuenta con ningún Antecedente transfuncional registrado.</p>
        {% endif %}
        <br>
        <h4>Alergias</h4>
        {% if AP_al %}
            {% for item in AP_al %}
                <p>{{item.nombre}}</p>
            {% endfor %}
        {% else %}
            <p>El paciente no cuenta con ninguna Alergia registrada.</p>
        {% endif %}
        <br>
        <h4>Vacunación</h4>
        {% if AP_vac %}
            {% for item in AP_vac %}
                <p>Nombre: {{item.nombre}}  Dosis: {{item.dosis}}  Año: {{item.año}}</p>
            {% endfor %}
        {% else %}
            <p>El paciente no cuenta con ninguna Vacuna registrada.</p>
        {% endif %}
        <br>
    </div>
    <div class="antecedentes-no-patologicos">
        <h3>Antecedentes Patologicos</h3>
        {% if AP %}
            {% for item in AP %}
                <p>{{item.patologia}}</p>
            {% endfor %}
        {% else %}
            <p>El paciente no cuenta con ninguna Patología registrada.</p>
        {% endif %}
    </div>
</div>