{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Proyecto médico</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav_inicio.css' %}">
    <link rel="stylesheet" href="/moduloPrincipal/static/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/css/bootstrap.min.css">
		
</head>
<body>
    <header>
        <nav class="menu">
            <label for="" class="breand">
                <img  style = "width: 50px; height: 50px; margin-left: 20px; line-height: 60px;" src="{% static 'images/logo.png' %}">

            </label>
            <ul>
                <li>
                    <a href="{% url 'especialistas' %}">Especialistas</a>
                </li>
                <li>
                    <a href="{% url 'acerca' %}">Acerca de</a>
                </li>

                <li style="margin-left: 400px;" >
                    <p>|</p>
                </li>
                <li >
                    <a href="{% url 'login' %}">Iniciar sesion</a>
                </li>
                <li>
                    <a href="{% url 'registrarse' %}">Registrarse</a>
                </li>
            </ul>
        </nav>
    </header>
    
    <!--<main class="container">-->
        {% block content %}
        {% endblock %}
    <!--</main>-->
<script src="/moduloPrincipal/static/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>