{% extends 'layouts/nav.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/especialidades.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<body>

    <div class="container">
        <h1>Registro de especialidades</h1>

        <form id="especialidadForm" method="post" action="{% url 'especialidades_admin' %}">
            {% csrf_token %}
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
            <label for="descripcion">Descripción:</label>
            <input type="text" id="descripcion" name="descripcion" required>

            <label>¿Registra Exploracion Fisica?</label>
            <input type="checkbox" id="exp_fisica_check" name="exp_fisica" style="width:20%" checked>
            <!-- <input type="text" id="exp_fisica" name="exp_fisica" required hidden> -->

            <label>¿Registra Diagnostico y Tratamiento?</label>
            <input type="checkbox" id="diag_trat_check" name="diag_trat" style="width:20%" checked>
            <!-- <input type="text" id="diag_trat" name="diag_trat" required hidden> -->

            <label for="">¿Asigna menú alimenticio?</label>
            <input type="checkbox" id="asignacion_menu_check" name="asignar_menu" style="width: 20%">
            <!-- <input type="text" id="asignacion_menu" name="asignar_menu" required hidden> -->
            <br>
            <br>
            <!-- <button class='registrar' type="button" onclick="Validar_formulario()">Registrar</button> -->


            <input id="enviar" class="registrar" type="submit" value="Registrar">
        </form>

        <table id="especialidadesTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Registra Exploración Física?</th>
                    <th>Registra Diagnóstico y Tratamiento?</th>
                    <th>¿Asigna Menú Alimenticio?</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for especialidad in especialidades %}
                <tr>
                    <th>{{especialidad.id}}</th>
                    <th>{{especialidad.nombre}}</th>
                    <th>{{especialidad.descripcion}}</th>
                    <th>{{especialidad.exploracion_fisica}}</th>
                    <th>{{especialidad.diagnostico_tratamiento}}</th>
                    <th>{{especialidad.asignacion_menu}}</th>
                    <th><button
                            onclick="editar_especialidad('{{especialidad.nombre}}','{{especialidad.descripcion}}', '{{especialidad.id}}', '{{especialidad.exploracion_fisica}}' , '{{especialidad.diagnostico_tratamiento}}', '{{especialidad.asignacion_menu}}')">Editar</button>
                    </th>
                </tr>
                {% endfor %}

            </tbody>
        </table>



        <dialog id="dialog_editar_especialidad">
            <form method="POST" action="{% url 'especialidades_admin' %}">
                {% csrf_token %}
                <input type="hidden" name="_put" value="PUT">
                <input type="hidden" name="id" id="id" value="0">

                <p>Ingresa los datos de la especialidad</p>
                <label>Nombre</label>
                <input type="text" required name="nombre" id="nombre" />

                <label>Descripcion</label>
                <input type="text" name="descripcion" id="descripcion" />

                <label>¿Registra Exploracion Fisica?</label>
                <input type="checkbox" id="exp_fisica_check_put" name="exp_fisica_put" style="width:20%" checked>
                <!-- <input type="text" id="exp_fisica_put" name="exp_fisica_put" required hidden> -->

                <label>¿Registra Diagnostico y Tratamiento?</label>
                <input type="checkbox" id="diag_trat_check_put" name="diag_trat_put" style="width:20%" checked>
                <!-- <input type="text" id="diag_trat_put" name="diag_trat_put" required hidden> -->

                <label for="">¿Asigna menú alimenticio?</label>
                <input type="checkbox" id="asignacion_menu_check_put" name="asignacion_menu_put" style="width: 20%"
                    checked>
                <!-- <input type="text" id="asignacion_menu_put" name="asignacion_menu_put" required hidden> -->
                <br>
                <br>
                <!-- <button class='registrar' type="button" onclick="Validar_formulario_put()">Editar</button> -->


                <input id="enviar_put" class="registrar" type="submit" value="Editar">


            </form>
            <br>
            <br>

            <button onClick="this.parentElement.close()" type="button">Cerrar</button>

        </dialog>
    </div>

</body>

<script>
    //letiable id que se usara para los dialog de eliminar y editar
    id = 0;
    let boton = document.getElementById("enviar");
    let boton_put = document.getElementById("enviar_put");

    //funcion para editar una especialidad
    function editar_especialidad(nombre, descripcion, id, exp_fisica, diag_trat, asignacion_menu) {
        const alertDialog = document.querySelector("#dialog_editar_especialidad");
        // Obtiene el input dentro del diálogo por su selector
        const nombreEspecialidad = alertDialog.querySelector("#nombre");
        const descripcionEspecialidad = alertDialog.querySelector("#descripcion");
        const idEspecialidad = alertDialog.querySelector("#id");
        const diagTrat = alertDialog.querySelector("#diag_trat_check_put");
        const expFisica = alertDialog.querySelector("#exp_fisica_check_put");
        const asignacionMenu = alertDialog.querySelector("#asignacion_menu_check_put");
        // Cambia el valor del input
        nombreEspecialidad.value = nombre;
        descripcionEspecialidad.value = descripcion
        idEspecialidad.value = id;
        //cambia los checkbox

        diagTrat.checked = diag_trat == "si" ? true : false;
        expFisica.checked = exp_fisica == "si" ? true : false;
        asignacionMenu.checked = asignacion_menu == "si" ? true : false;

        this.id = id
        alertDialog.showModal();
    };

    // function Validar_formulario() {
    //     let aux1 = document.getElementById("exp_fisica_check");
    //     if (aux1.checked) {
    //         document.getElementById("exp_fisica").value = "si";

    //     }
    //     else {
    //         document.getElementById("exp_fisica").value = "no";
    //     }

    //     let aux2 = document.getElementById("diag_trat_check");
    //     if (aux2.checked) {
    //         document.getElementById("diag_trat").value = "si";
    //     }
    //     else {
    //         document.getElementById("diag_trat").value = "no";
    //     }

    //     let aux3 = document.getElementById("asignacion_menu_check");
    //     if (aux3.checked) {
    //         document.getElementById("asignacion_menu").value = "si";
    //     }
    //     else {
    //         document.getElementById("asignacion_menu").value = "no";
    //     }
    //     boton.click();
    // }

    // function Validar_formulario_put() {
    //     let aux1 = document.getElementById("exp_fisica_check_put");
    //     if (aux1.checked) {
    //         document.getElementById("exp_fisica_put").value = "si";

    //     } else {
    //         document.getElementById("exp_fisica_put").value = "no";
    //     }

    //     let aux2 = document.getElementById("diag_trat_check_put");
    //     if (aux2.checked) {
    //         document.getElementById("diag_trat_put").value = "si";

    //     } else {
    //         document.getElementById("diag_trat_put").value = "no";
    //     }
    //     let aux3 = document.getElementById("asignacion_menu_check_put");
    //     if (aux3.checked) {
    //         document.getElementById("asignacion_menu_put").value = "si";
    //     }
    //     else {
    //         document.getElementById("asignacion_menu_put").value = "no";
    //     }
    //     boton_put.click();
    // }

</script>


{% endblock %}