.class{
    width: 50px; 
    height: 50px; 
    margin-left: 20px; 
    line-height: 60px;
}
header {
    background-color: #166088;
    color: #C0D6DF;
    padding: 10px 0;
    align-items: center;
  
  }
  
  .menu ul {
    float: right;
  
    list-style: none;
    margin: 0;
    padding: 3;
    
  }
  
  .menu ul li {
    display: inline-block;
    line-height: 60px;
    margin-right: 20px;
    font-size: 20px;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #014b46;
  }
  
  .separador{
    margin-left: 300px;
  }
  body{
    background-color: #000000;
  }