{% extends 'layouts/nav.html' %}

{% load static %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
  <div id="map"></div>

  <input id="autocomplete" onfocus="initAutoComplete()" placeholder="Ingrese una direccion" type="text">
<!-- <button onclick="searchByCoordinates()">Center Map</button>  -->
<div id="details"></div>
<div id="tableContainer"></div>
<div id="tableContainer2"></div>

<script src="{% static  'script.js' %}"></script> 
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBv4LR2oRlZCNvJl_bq-VDIN8l9-h9nKok&callback=iniciarMap,distance_matrix" async defer></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBv4LR2oRlZCNvJl_bq-VDIN8l9-h9nKok&libraries=places,distance_matrix&callback=iniciarMap" async defer></script>
  {% endblock %}
