{% extends 'layouts/nav.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/listaAlimentos.css' %}">
<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary" id="verduras" onclick="fetchCategoryData('Verduras')"><i
            class="fa-solid fa-carrot"></i> Verduras</button>
    <button type="button" class="btn btn-primary" id="frutas" onclick="fetchCategoryData('Frutas')"><i
            class="fa-solid fa-apple-whole"></i> Frutas</button>
    <button type="button" class="btn btn-primary" id="cereales" onclick="fetchCategoryData('Cereales')"><i
            class="fa-solid fa-wheat-awn"></i> Cereales</button>
    <button type="button" class="btn btn-primary" id="leguminosas" onclick="fetchCategoryData('Leguminosas')"><i
            class="fa-solid fa-wheat-awn"></i> Leguminosas</button>
    <button type="button" class="btn btn-primary" id="origen" onclick="fetchCategoryData('Origen animal')"><i
            class="fa-solid fa-bacon"></i> Origen animal</button>
    <button type="button" class="btn btn-primary" id="leche" onclick="fetchCategoryData('Leche')"><i
            class="fa-solid fa-mug-saucer"></i> Leche</button>
    <button type="button" class="btn btn-primary" id="grasas" onclick="fetchCategoryData('Grasas')"><i
            class="fa-solid fa-cheese"></i> Grasas</button>
    <button type="button" class="btn btn-primary" id="azucares" onclick="fetchCategoryData('Azucares')"><i
            class="fa-solid fa-ice-cream"></i> Azúcares</button>
    <button type="button" class="btn btn-primary" id="libres" onclick="fetchCategoryData('Libres')"><i
            class="fa-solid fa-face-smile-wink"></i> Libres</button>
</div>
<div class="form">
    <h1 id="h1"></h1>
    <table class="table table-hover" id="tabla">
        <thead>
            <tr class="titulo">
                <th>ID</th>
                <th class="sticky">Nombre</th>
                <th>Tipo</th>
                <th>Unidad</th>
                <th>Porción</th>
                <th>Peso</th>
                <th>Peso neto</th>
                <th>Energía (kcal)</th>
                <th>Proteína (g)</th>
                <th>Lípidos (g)</th>
                <th>Carbohidratos (g)</th>
                <th>AG saturados (g)</th>
                <th>AG monoinsaturados (g)</th>
                <th>AG poliinsaturados (g)</th>
                <th>Colesterol (g)</th>
                <th>Azúcar (g)</th>
                <th>Fibra (g)</th>
                <th>Vitamina A (mg RE)</th>
                <th>Ácido Ascórbico (mg)</th>
                <th>Ácido Fólico (mg)</th>
                <th>Calcio (mg)</th>
                <th>Hierro (mg)</th>
                <th>Potasio (mg)</th>
                <th>Sodio (mg)</th>
                <th>Fósforo (mg)</th>
                <th>Etanol (g)</th>
                <th>IG</th>
                <th>Carga Glicémica</th>


            </tr>
        </thead>
        <tbody id="food-table-body">
            <!-- {% if alimentos %} -->
            <!-- {% for alimento in alimentos %} -->
            <tr>
                <!-- <td class="sticky">{{ alimento.nombre }}</td>
                <td>{{ alimento.tipo.tipo_nombre }}</td>
                <td>{{ alimento.uni.unidad }}</td>
                <td>{{ alimento.porcion }}</td>
                <td>{{ alimento.peso }}</td>
                <td>{{ alimento.peso_neto }}</td>
                <td>{{ alimento.energia }}</td>
                <td>{{ alimento.proteina }}</td>
                <td>{{ alimento.lipidos }}</td>
                <td>{{ alimento.carbos }}</td>
                <td>{{ alimento.ag_satur }}</td>
                <td>{{ alimento.ag_mono }}</td>
                <td>{{ alimento.ag_poli }}</td>
                <td>{{ alimento.colesterol }}</td>
                <td>{{ alimento.azucar }}</td>
                <td>{{ alimento.fibra }}</td>
                <td>{{ alimento.vita_A }}</td>
                <td>{{ alimento.aci_asc }}</td>
                <td>{{ alimento.aci_foli }}</td>
                <td>{{ alimento.calcio }}</td>
                <td>{{ alimento.hierro }}</td>
                <td>{{ alimento.potasio }}</td>
                <td>{{ alimento.sodio }}</td>
                <td>{{ alimento.fosforo }}</td>
                <td>{{ alimento.etanol }}</td>
                <td>{{ alimento.ig }}</td>
                <td>{{ alimento.carga_gli }}</td> -->

            </tr>
            <!-- {% endfor %} -->
        </tbody>
    </table>
    <!-- {% else %} -->
    </tbody>
    </table>
    <input type="button" value="subir" onclick="subir()">
    <!-- <h5>No hay datos ingresados</h5> -->
    <!-- {% endif %} -->


</div>

<script>
    let tipos = {}
    let unidades = {}
    onload = async () => {

        await fetch("/api/types/")
            .then(response => {
                return response.json();
            })
            .then(data => {
                tipos = data;
                console.log(tipos);
            })

        await fetch("/api/units/")
            .then(response => {
                return response.json();
            })
            .then(data => {
                unidades = data;
                console.log(unidades);
            })
        fetchCategoryData('Verduras');
    }
    function fetchCategoryData(category) {
        let url = "/api/foods/?category=" + category;

        fetch(url)
            .then(response => {
                // if (!response.ok) {
                //     throw new Error('Network response was not ok');
                // }
                console.log(response)
                return response.json();
            })
            .then(data => {
                displayData(data);
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }
    function displayData(data) {
        console.log(data);
        if (data.error) {
            h1.innerHTML = `${data.nombre} (no hay datos registrados)`;
            return;
        }
        tabla.style.display = "block";
        let tableBody = document.getElementById("food-table-body");
        tableBody.innerHTML = "";
        h1.innerHTML = data[0].tipo_nombre;
        data.forEach(function (item) {
            let row = `<tr class ='renglon' id = ${item.id} name = 'renglon'>
                            <td> <input type = "text" value = '${item.id}' disabled></td>
                            <td> <input class = "sticky" type = "text" name='nombre' value = '${item.nombre}'></td>
                            <td> 
                                <select>
                                    ${Object.keys(tipos).map(key => {
                return `<option value="${tipos[key].id}" ${item.tipo === tipos[key].id ? 'selected' : ''}>${tipos[key].tipo_nombre}</option>`;
            }).join('')}
                                </select>
                            
                            </td>
                            <td> 
                                <select>
                                    ${Object.keys(unidades).map(key => {
                                    return `<option value="${unidades[key].id}" ${item.unidad === unidades[key].id ? 'selected' : ''}>${unidades[key].unidad}</option>`;
                                }).join('')}
                                </select>
                            </td>

                            <td> <input type = "text" value = '${item.porcion}'></td>
                            <td> <input type = "text" value = '${item.peso}'></td>
                            <td> <input type = "text" value = '${item.peso_neto}'></td>
                            <td> <input type = "text" value = '${item.energia}'></td>
                            <td> <input type = "text" value = '${item.proteina}'></td>
                            <td> <input type = "text" value = '${item.lipidos}'></td>
                            <td> <input type = "text" value = '${item.carbos}'></td>
                            <td> <input type = "text" value = '${item.ag_satur}'></td>
                            <td> <input type = "text" value = '${item.ag_mono}'></td>
                            <td> <input type = "text" value = '${item.ag_poli}'></td>
                            <td> <input type = "text" value = '${item.colesterol}'></td>
                            <td> <input type = "text" value = '${item.azucar}'></td>
                            <td> <input type = "text" value = '${item.fibra}'></td>
                            <td> <input type = "text" value = '${item.vita_A}'></td>
                            <td> <input type = "text" value = '${item.aci_asc}'></td>
                            <td> <input type = "text" value = '${item.aci_foli}'></td>
                            <td> <input type = "text" value = '${item.calcio}'></td>
                            <td> <input type = "text" value = '${item.hierro}'></td>
                            <td> <input type = "text" value = '${item.potasio}'></td>
                            <td> <input type = "text" value = '${item.sodio}'></td>
                            <td> <input type = "text" value = '${item.fosforo}'></td>
                            <td> <input type = "text" value = '${item.etanol}'></td>
                            <td> <input type = "text" value = '${item.ig}'></td>
                            <td> <input type = "text" value = '${item.carga_gli}'></td>`
            tableBody.innerHTML += row
        });
    }
    let subir = () => {
        const data = [];
        const rows = document.getElementsByName('renglon');
        rows.forEach(row => {
            const inputs = row.getElementsByTagName('input');
            const select = row.getElementsByTagName('select')[0];
            const select2 = row.getElementsByTagName('select')[1];
            const obj = {
                id: inputs[0].value,
                nombre: inputs[1].value,
                tipo: select.value,
                unidad: select2.value,
                porcion: inputs[2].value,
                peso: inputs[3].value,
                peso_neto: inputs[4].value,
                energia: inputs[5].value,
                proteina: inputs[6].value,
                lipidos: inputs[7].value,
                carbos: inputs[8].value,
                ag_satur: inputs[9].value,
                ag_mono: inputs[10].value,
                ag_poli: inputs[11].value,
                colesterol: inputs[12].value,
                azucar: inputs[13].value,
                fibra: inputs[14].value,
                vita_A: inputs[15].value,
                aci_asc: inputs[16].value,
                aci_foli: inputs[17].value,
                calcio: inputs[18].value,
                hierro: inputs[19].value,
                potasio: inputs[20].value,
                sodio: inputs[21].value,
                fosforo: inputs[22].value,
                etanol: inputs[23].value,
                ig: inputs[24].value,
                carga_gli: inputs[25].value
            }
            data.push(obj);
        });
        console.log(data);
    }
</script>
<style>
    .renglon>td>input[type="text"] {
        text-align: center;
    }
</style>
{% endblock %}