{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/asignacionMenu.css' %}">
<div id="asignarMenu" style="display: none;" class="contenido">
    <h2>Menú Alimenticio</h2>
    <h3>Por porciones de Alimentos</h3>
    <table class="table  table-bordered border-primary border border-primary-subtle table-hover" id="tabla">
       <thead class="table-dark">
        <tr>
            <th><b>Comidas</b></th>
            <th><i class="fa-solid fa-carrot"></i> Verduras</th>
            <th><i class="fa-solid fa-apple-whole"></i> Frutas</th>
            <th><i class="fa-solid fa-wheat-awn"></i> Cereales</th>
            <th><i class="fa-solid fa-wheat-awn"></i> Leguminosas</th>
            <th><i class="fa-solid fa-bacon"></i> Origen Animal</th>
            <th><i class="fa-solid fa-mug-saucer"></i> Leche y Derivados</th>
            <th><i class="fa-solid fa-cheese"></i> Grasas</th>
            <th><i class="fa-solid fa-ice-cream"></i> Azúcares</th>
        </tr>
       </thead>
  
      
        <tr>
            <th><i class="fa-solid fa-egg"></i><p>Desayunos</p></th>
            <td>
                <input type="number" required min="0" required max="20" value="0" class="porciones" name="desaVerduras">
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="0" class="porciones" name="desaFrutas">
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="0" class="porciones" name="desaCereales">
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="0" class="porciones" name="desaLeguminosas">
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="0" class="porciones" name="desaOrigen">
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="0" class="porciones" name="desaLeche">
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="0" class="porciones" name="desaGrasas">
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="0" class="porciones" name="desaAzucares">
            </td>
            
        </tr>
        <tr>
            <th><i class="fa-solid fa-apple-whole"></i><p>Colación</p></th>
            <td>
                <input type="number" required min="0" required max="20" value="0" class="porciones" name="colaVerduras">
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="0" class="porciones" name="colaFrutas">
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="0" class="porciones" name="colaCereales">
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="0" class="porciones" name="colaLeguminosas">
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="0" class="porciones" name="colaOrigen">
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="0" class="porciones" name="colaLeche">
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="0" class="porciones" name="colaGrasas">
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="0" class="porciones" name="colaAzucares">
            </td>
        </tr> 
        <tr>
            <th><i class="fa-solid fa-drumstick-bite"></i><p>Comidas</p</th>
                <td>
                    <input type="number" required min="0" required max="20" value="0" class="porciones" name="comiVerduras">
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="0" class="porciones" name="comiFrutas">
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="0" class="porciones" name="comiCereales">
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="0" class="porciones" name="comiLeguminosas">
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="0" class="porciones" name="comiOrigen">
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="0" class="porciones" name="comiLeche">
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="0" class="porciones" name="comiGrasas">
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="0" class="porciones" name="comiAzucares">
                </td>
        
        </tr>
        <tr>
                <th><i class="fa-solid fa-apple-whole"></i><p>Colación</p></th>
                <td>
                    <input type="number" required min="0" required max="20" value="0" class="porciones" name="colaVerduras2">
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="0" class="porciones" name="colaFrutas2">
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="0" class="porciones" name="colaCereales2">
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="0" class="porciones" name="colaLeguminosas2">
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="0" class="porciones" name="colaOrigen2">
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="0" class="porciones" name="colaLeche2">
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="0" class="porciones" name="colaGrasas2">
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="0" class="porciones" name="colaAzucares2">
                </td>
        </tr> 
        <tr>
            <th><i class="fa-solid fa-mug-saucer"></i><p>Cenas</p></th>
            <td>
                <input type="number" required min="0" required max="20" value="0" class="porciones" name="cenaVerduras">
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="0" class="porciones" name="cenaFrutas">
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="0" class="porciones" name="cenaCereales">
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="0" class="porciones" name="cenaLeguminosas">
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="0" class="porciones" name="cenaOrigen">
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="0" class="porciones" name="cenaLeche">
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="0" class="porciones" name="cenaGrasas">
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="0" class="porciones" name="cenaAzucares">
            </td>
        </tr> 
    </table>
    <button type="button" class="btn btn-primary" id="lista" onclick="openIngredientDialog()">Lista de Alimentos</button>
    <br>
    <br>
    <!--<input type="button" onclick="siguiente('menu')" value="Siguiente">-->
    <button type="button" class="btn btn-primary" id="nutri" onclick="siguiente('menu')">Siguiente</button>
    <dialog id="alimentos">
        <div class="model-content">
            <input type="button" class="close" value="X">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary" id="verduras" onclick="fetchCategoryData('verduras')"><i class="fa-solid fa-carrot"></i> Verduras</button>
                <button type="button" class="btn btn-primary" id="frutas" onclick="fetchCategoryData('frutas')"><i class="fa-solid fa-apple-whole"></i> Frutas</button>
                <button type="button" class="btn btn-primary" id="cereales" onclick="fetchCategoryData('cereales')"><i class="fa-solid fa-wheat-awn"></i> Cereales</button>
                <button type="button" class="btn btn-primary" id="leguminosas" onclick="fetchCategoryData('leguminosas')"><i class="fa-solid fa-wheat-awn"></i> Leguminosas</button>
                <button type="button" class="btn btn-primary" id="origen" onclick="fetchCategoryData('origen_animal')"><i class="fa-solid fa-bacon"></i> Origen Animal</button>
                <button type="button" class="btn btn-primary" id="leche" onclick="fetchCategoryData('leche')"><i class="fa-solid fa-mug-saucer"></i> Leche</button>
                <button type="button" class="btn btn-primary" id="grasas" onclick="fetchCategoryData('grasas')"><i class="fa-solid fa-cheese"></i> Grasas</button>
                <button type="button" class="btn btn-primary" id="azucares" onclick="fetchCategoryData('azucares')"><i class="fa-solid fa-ice-cream"></i> Azúcares</button>
                <button type="button" class="btn btn-primary" id="libres" onclick="fetchCategoryData('libres')"><i class="fa-solid fa-face-smile-wink"></i> Libres</button>
            </div>
            <div id="modalContent">
            </div>
        </div>
    </dialog>
        <div class="recomendaciones">
            <section class="recomendacion">
                <h2>Recomendaciones</h2>
                <textarea name="reco" id="" cols="50" rows="10"></textarea>
            </section>
        </div>
</div>
<script>
    var modal = document.getElementById("alimentos");
    var span = modal.querySelector(".close");
    span.onclick = function(){
        modal.close();
        modal.style.display='none';
    }
    window.onclick=function(event){
        if(event.target == modal){
            modal.close();
            modal.style.display='none';
        }
    }
    function fetchCategoryData(category){
        fetch('{% static "alimentos.json" %}')
        .then(response => response.json())
        .then(data => {
            const categoryData = data.alimentos[category];
            fillModalWithData(categoryData);
        })
        .catch(error => console.error('Error fetching JSON:',error));
    }
    function openIngredientDialog(){
        fetchCategoryData('verduras');
        const alertDialog = document.querySelector("#alimentos");
        alertDialog.showModal();
    }
    function fillModalWithData(categoryData){
        var modelData = '';
            modelData = `<table class="table  table-bordered border-primary border border-primary-subtle table-hover" id="tabla">
                            <thead class="table-dark">
                                <tr>
                                    <th><b>Alimento</b></th>
                                    <th><b>Categoría</b></th>
                                    <th><b>Porción</b></th>
                                    <th><b>Unidad</b></th>
                                    <th><b>Energía (kcal)</b></th>
                                    <th><b>Proteína (g)</b></th>
                                    <th><b>Lipidos (g)</b></th>
                                    <th><b>Hidratos de Carbono (g)</b></th>
                                </tr>
                            </thead>
                        `;
            for(var key in categoryData){
                var item = categoryData[key];
                modelData += `
                    <tr>
                        <td>${key}</td>
                        <td>${item.Categoría}</td>
                        <td>${item.Porcion}</td>
                        <td>${item.Unidad}</td>
                        <td>${item.Energia}</td>
                        <td>${item.Proteina}</td>
                        <td>${item.Lipidos}</td>
                        <td>${item.HidratosDeCarbono}</td>
                    </tr>
                `;
            }
        document.getElementById('modalContent').innerHTML=modelData;
        document.getElementById('alimentos').style.display='block'
    }
</script>