{% extends 'layouts/nav.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/consulta_medica.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/asignacionMenu.css' %}">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div class="login-page" >
    {% if datosPaciente.paciente %}
    <div class="ficha-identificacion">
        
        <center><div class="imagen" style="width: 50%;">
            {% if datosPaciente.paciente.id_usuario.foto %}
                    <img style = "width: 100%; height: 150px; margin-top: 10px; margin-bottom: 10px;;"src="{{ datosPaciente.paciente.id_usuario.foto.url }}" alt="Foto del usuario">
            {% else %}
                    <img style = "width: 100%; height: 150px; margin-top: 10px; margin-bottom: 10px;;" src="{% static 'images/imagen_usuario_defecto.jpg' %}" alt="Foto del usuario">
            {% endif %}
        </div></center>
        <h4>Ficha de identificación</h4>
        <div class="info-paciente">
            <p>Nombre: {{datosPaciente.paciente.id_usuario.id_usuario.first_name}} {{datosPaciente.paciente.id_usuario.id_usuario.last_name}}</p>
            <p>Edad: {{datosPaciente.edad}} años</p>
            {% if datosPaciente.paciente.genero == 'M' %}
                <p>Sexo: Masculino</p>
            {% else %}
                <p>Sexo: Femenino</p>
            {% endif %}

            {% if datosPaciente.paciente.estado_civil == '1' %}
                <p>Estado civil: Casado</p>
            {% else %}
                <p>Estado civil: Soltero</p>
            {% endif %}

             {% if datosPaciente.paciente.estilo_vida == 'A' %}
                <p>Estilo de vida: Activo</p>
            {% elif datosPaciente.paciente.estilo_vida == 'S' %}
                <p>Estilo de vida: Sedentario</p>
            {% else %}
                <p>Estilo de vida: Vegano</p>
            {% endif %}

            <p>Peso: {{data.exploracionfisica.peso}} kg</p>
            <p>Talla: {{data.exploracionfisica.talla}} m</p>
            <p>IMC: {{data.exploracionfisica.imc}}</p>
            
            
        </div> 
        <center><button>Descargar Documento</button></center>
        
    </div>
	<div class="historial-clinico">

        <div class="pestañitas">
            <button id="general" onclick="mostrarContenido('GENERAL')">General</button>
            {% if data.exploracionfisica %}
                <button id="pa" onclick="mostrarContenido('PA')">PA</button>
            {% endif %}
            
            {% if data.diagnostico %}
                <button id="dx-tx" onclick="mostrarContenido('DX-TX')">DX/TX</button>
            {% endif %}

            {% if data.menu %}
                <button type="button" id="menu" onclick="mostrarContenido('asignarMenu')">Asignacion Menu</button>
            {% endif %}
            
        </div>
        <div class="contenido" id="GENERAL">
            <center><h2>Historial clinico</h2></center>
            <div class="antecedentes-patologicos">
                <h3>Antecedentes No Patologicos</h3>
                <h4>Toxicomania</h4>
                {% if datosPaciente.AP_toxi %}
                    {% for item in AP_toxi %}
                        <p>{{item.nombre}}: Si  Cantidad: {{item.cantidad}}  Frecuencia: {{item.frecuencia}}  Tiempo: {{item.tiempo}} años</p>
                    {% endfor %}
                {% else %}
                    <p>El paciente no cuenta con ninguna Toxicomania registrada.</p>
                {% endif %}
                <br>
                <h4>Antecendentes quirurgicos</h4>
                {% if datosPaciente.AP_qui %}
                    {% for item in datosPaciente.AP_qui %}
                        <p>Tipo: {{item.tipo}} Tiempo: {{item.tiempo}} años</p>
                    {% endfor %}
                {% else %}
                    <p>El paciente no cuenta con ningún Antecedente quirurgico registrado.</p>
                {% endif %} 
                <br>
                <h4>Antecedentes transfuncionales</h4>
                {% if datosPaciente.AP_tran %}
                    {% for item in datosPaciente.AP_tran %}
                        <p>Tipo: {{item.tipo}} Tiempo: {{item.tiempo}} años</p>
                    {% endfor %}
                {% else %}
                    <p>El paciente no cuenta con ningún Antecedente transfuncional registrado.</p>
                {% endif %}
                <br>
                <h4>Alergias</h4>
                {% if datosPaciente.AP_al %}
                    {% for item in datosPaciente.AP_al %}
                        <p>{{item.nombre}}</p>
                    {% endfor %}
                {% else %}
                    <p>El paciente no cuenta con ninguna Alergia registrada.</p>
                {% endif %}
                <br>
                <h4>Vacunación</h4>
                {% if datosPaciente.AP_vac %}
                    {% for item in datosPaciente.AP_vac %}
                        <p>Nombre: {{item.nombre}}  Dosis: {{item.dosis}}  Año: {{item.año}}</p>
                    {% endfor %}
                {% else %}
                    <p>El paciente no cuenta con ninguna Vacuna registrada.</p>
                {% endif %}
                <br>
            </div>
            <div class="antecedentes-no-patologicos">
                <h3>Antecedentes Patologicos</h3>
                 {% if datosPaciente.AP %}
                    {% for item in datosPaciente.AP %}
                        <p>{{item.patologia}}</p>
                    {% endfor %}
                {% else %}
                    <p>El paciente no cuenta con ninguna Patología registrada.</p>
                {% endif %}
            </div>
        </div>

        <div class="contenido" id="PA" style="display: none;" >

            <div class="padecimientos-motivo">
                <h2>Padecimiento o motivo de la consulta</h2>
                <textarea rows="15" cols="50" disabled>{{datosPaciente.cita.motivo}}</textarea>
                <div class="botones-PA">
                    <button id="anterior" onclick="mostrarContenido('graficas')">Ver graficas</button>
                </div>
            </div>
            <div class="exploracion-fisica">
                <h4>Exploración fisica</h4>
                <div class="inputs">
                    <label>Peso: </label>
                    <label>{{data.exploracionfisica.peso}} kg</label>
                    <label>Talla: </label>
                    <label>{{data.exploracionfisica.talla}}  m</label>
                    <label>IMC: </label>
                    <label style="width: 20%;">{{data.exploracionfisica.imc}} kg/m<sup>2</sup></label>
                    
                    {% if data.exploracionfisica.imc %}
                        {% if data.exploracionfisica.imc  < 18.50 %}
                            <label>IMC: {{data.exploracionfisica.imc}} Bajo peso</label><br>
                        {% elif 18.50 <= data.exploracionfisica.imc  and data.exploracionfisica.imc  <= 24.99 %}
                            <label>IMC: {{data.exploracionfisica.imc}} Normal</label><br>
                        {% elif 25.00 <= data.exploracionfisica.imc  and data.exploracionfisica.imc  <= 29.99 %}
                            <label>IMC: {{data.exploracionfisica.imc}} Sobrepeso</label><br>
                        {% elif data.exploracionfisica.imc  >= 30.00 %}
                            <label>IMC: {{data.exploracionfisica.imc}} Obesidad</label><br>
                        {% endif %}
                    {% endif %}
                    <label>Creatinina: </label><input type="text" name="creatinina" id="creatininaInput" value="{{data.exploracionfisica.creatinina}}" disabled> 
                    <label style="width: 15%;">mg/dL</label>
                    <div class="aviso-creatinina">
                        <input type="text" id="edadInput3" value={{datosPaciente.edad}} style="display: none;">
                        <input type="text" id="sexoinput" value={{datosPaciente.paciente.genero}} style="display: none;">
                        <input type="text" id="pesoinput" value={{datosPaciente.paciente.peso}} style="display: none;">
                        <label style="display: none; background-color: green; font-weight: 700; width: 98%; text-align: center;" id="cretinormal">Normal</label>
                        <label style="display: none; background-color: red; font-weight: 700; width: 98%; text-align: center;" id="cretianormal1">Niveles bajos</label>
                        <label style="display: none; background-color: red; font-weight: 700; width: 98%; text-align: center;" id="cretianormal2">Niveles altos</label>
                    </div>
                    <label>Filtración Glomerular:</label> <label name="fgmc" id="fgmc"></label>
                    <input type="text" name="filtracion_glomerular" id="fgmInput" style="display: none;" value="{{data.exploracionfisica.filtracion_glomerular}}">

                    <div class="aviso-glomedular">
                        <label style="display: none; background-color: gray; font-weight: 700; width: 98%; text-align: center;" id="fge">Calculando...</label>
                    </div>

                    <label>Glucosa: </label><input type="text" name="glucosa" id="glucosaInput" value="{{data.exploracionfisica.glucosa}}" disabled><label style="width: 10%;">mg/dL</label>
                    <div class="aviso-glucosa">
                        <label style="display: none; background-color: red; font-weight: 700; width: 98%; text-align: center;" id="diabetes">Diabetes</label>
                        <label style="display: none; background-color: orange; font-weight: 700; width: 98%; text-align: center;" id="prediabetes">Prediabetes</label>
                        <label style="display: none; background-color: green; font-weight: 700; width: 98%; text-align: center;" id="gnormal">Niveles normales</label>
                        <label style="display: none; background-color: brown; font-weight: 700; width: 98%; text-align: center;" id="ginvalida">Ingrese un valor</label>
                    </div>
                    
                    <label>TA Sistolica: </label><input type="text" name="tasis" id="tasisInput" disabled value="{{data.exploracionfisica.TA_sistolica}} "><label style="width: 15%;">mm Hg</label>
                    <label>TA Diastolica: </label><input type="text" name="tadis" id="tadiaInput" disabled value="{{data.exploracionfisica.TA_diastolica}} "><label style="width: 15%;">mm Hg</label>
                    <div class="presion-arterial">
                        <label style="display: none; background-color: green; font-weight: 700; width: 98%; text-align: center;" id="pnormal">Presión normal</label>
                        <label style="display: none; background-color: yellow; font-weight: 700; width: 98%; text-align: center;" id="pelevada">Presión elevada</label>
                        <label style="display: none; background-color: orange; font-weight: 700; width: 98%; text-align: center;" id="paltan1">Hipertensión nivel 1</label>
                        <label style="display: none; background-color: orangered; font-weight: 700; width: 98%; text-align: center;"  id="paltan2">Hipertensión nivel 2</label>
                        <label style="display: none; background-color: red; font-weight: 700; width: 98%; text-align: center;" id="pcrisis">Crisis de hipertensión</label>
                        <label style="display: none; background-color: brown; font-weight: 700; width: 98%; text-align: center;" id="pinvalida">Ingrese ambos valores</label>
                    </div>
                    <label>Frecuencia cardica: </label><input type="text" name="frec" id="fcardInput" disabled value="{{data.exploracionfisica.frecuencia_cardiaca}} "><label style="width: 10%;">ppm</label>
                    <div class="aviso-frecuenciaCardiaca">
                        <input type="text" id="edadInput" value={{datosPaciente.edad}} style="display: none;">
                        <label style="display: none; background-color: green; font-weight: 700; width: 98%; text-align: center;" id="fcnormal">Normal</label>
                        <label style="display: none; background-color: red; font-weight: 700; width: 98%; text-align: center;" id="fcanormal">Anormal</label>
                    </div>
                    <label>Frecuencia respiratoria: </label><input type="text" name="frer" id="frespInput" disabled value="{{data.exploracionfisica.frecuencia_respiratoria}} "><label style="width: 10%;">r/m</label>
                    <div class="aviso-frecuenciaRespiratoria">
                        <input type="text" id="edadInput2" value={{datosPaciente.edad}} style="display: none;">
                        <label style="display: none; background-color: green; font-weight: 700; width: 98%; text-align: center;" id="frnormal">Normal</label>
                        <label style="display: none; background-color: red; font-weight: 700; width: 98%; text-align: center;" id="franormal1">Bradipnea</label>
                        <label style="display: none; background-color: red; font-weight: 700; width: 98%; text-align: center;" id="franormal2">Taquipnea</label>
                    </div>
                    <label>Temperatura: </label><input type="text" name="temp" id="tempInput" value="{{data.exploracionfisica.temperatura}}" disabled ><label style="width: 10%;">&deg;C</label>
                    <div class="aviso-temperatura">
                        <input type="text" id="edadInput2" value={{datosPaciente.edad}} style="display: none;">
                        <label style="display: none; background-color: green; font-weight: 700; width: 98%; text-align: center;" id="tnormal">Normal</label>
                        <label style="display: none; background-color: red; font-weight: 700; width: 98%; text-align: center;" id="tanormal1">Hipotermia</label>
                        <label style="display: none; background-color: red; font-weight: 700; width: 98%; text-align: center;" id="tanormal2">Fiebre</label>
                    </div>

                    <div class="descripcion">
                       <label>Descripción de la exploración</label> <center><textarea name="desc" rows="6" cols="50" disabled>{{data.exploracionfisica.descripcion}} </textarea></center>
                    </div>
                    
                </div>
                
            </div>
        </div>
        
        <div class="contenido" id="graficas" style="display: none;">
            <div class="input">
                <label>Selecciona la grafica:</label>
                <select name="tipo" id="tipo">
                    <option value=1>Peso</option>
                    <option value=2>Talla</option>
                    <option value=3>IMC</option>
                    <option value=4>Glucosa</option>
                    <option value=5>Creatinina</option>
                    <option value=6>Filtración Glomerular</option>
                    <option value=7>TA Sistolica</option>
                    <option value=8>TA Diastolica</option>
                    <option value=9>Frecuencia cardica</option>
                    <option value=10>Frecuencia respiratoria</option>
                    <option value=11>Temperatura</option>
                </select>
            </div>
            <div class="mostrar-grafico">
                <button id="anterior" onclick="mostrarGrafico()" style="border-radius: 32px; height: 32px;font-size: 14px;outline: 0;border: 0;">Ver gráfica</button>
                <div id="grafico-container">
                    
                </div>
            </div>
        </div>

        <div class="contenido" id="DX-TX" style="display: none;">
            <div class="diagnostico">
                <h2>Diagnostico</h2>
                <textarea rows="15" cols="50" name="diagnostico" disabled>{{data.diagnostico.descripcion}}</textarea>
                <div class="botones-PA">
                    <!--<button id="anterior">Ver anteriores</button>-->

                </div>
            </div>
            <div class="tratamiento">
                <h2>Tratamiento</h2>
                <div class="inputs">
                    <div class="farmacologico">
                        <label>Farmacologico</label> <center><textarea rows="6" cols="50" name="tratamiento_far" disabled>{{datosPaciente.tratamiento_farmacologico.descripcion}}</textarea></center>
                     </div>
                    <div class="nofarmacologico">
                       <label>No farmacologico</label> <center><textarea rows="6" cols="50" name="tratamiento_nfar" disabled>{{datosPaciente.tratamiento_no_farmacologico.descripcion}}</textarea></center>
                    </div>
                    
                </div>
                
            </div>
        </div>

        <div class="contenido" id="asignarMenu" style="display: none;">
            <h2>Menú Alimenticio</h2>
            <h3>Por porciones de Alimentos</h3>
        <table class="table  table-bordered border-primary border border-primary-subtle table-hover" id="tabla">
        <thead class="table-dark">
            <tr>
                <th><b>Comidas</b></th>
                <th><i class="fa-solid fa-carrot"></i> Verduras</th>
                <th><i class="fa-solid fa-apple-whole"></i> Frutas</th>
                <th><i class="fa-solid fa-wheat-awn"></i> Cereales</th>
                <th><i class="fa-solid fa-wheat-awn"></i> Leguminosas</th>
                <th><i class="fa-solid fa-bacon"></i> Origen Animal</th>
                <th><i class="fa-solid fa-mug-saucer"></i> Leche y Derivados</th>
                <th><i class="fa-solid fa-cheese"></i> Grasas</th>
                <th><i class="fa-solid fa-ice-cream"></i> Azúcares</th>
            </tr>
       </thead>
        <tr>
            <th><i class="fa-solid fa-egg"></i><p>Desayunos</p></th>
            <td>
                <input type="number" required min="0" required max="20" value="{{data.menu.desayuno.verduras}}" class="porciones" name="desaVerduras" disabled>
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="{{data.menu.desayuno.frutas}}" class="porciones" name="desaFrutas" disabled>
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="{{data.menu.desayuno.cereales}}" class="porciones" name="desaCereales" disabled>
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="{{data.menu.desayuno.leguminosas}}" class="porciones" name="desaLeguminosas" disabled>
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="{{data.menu.desayuno.origen}}" class="porciones" name="desaOrigen" disabled>
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="{{data.menu.desayuno.leche}}" class="porciones" name="desaLeche" disabled>
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="{{data.menu.desayuno.grasas}}" class="porciones" name="desaGrasas" disabled>
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="{{data.menu.desayuno.azucares}}" class="porciones" name="desaAzucares" disabled>
            </td>
            
        </tr>
        <tr>
            <th><i class="fa-solid fa-apple-whole"></i><p>Colación</p></th>
            <td>
                <input type="number" required min="0" required max="20" value="{{data.menu.colacion.verduras}}" class="porciones" name="colaVerduras" disabled>
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="{{data.menu.colacion.frutas}}" class="porciones" name="colaFrutas" disabled>
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="{{data.menu.colacion.cereales}}" class="porciones" name="colaCereales" disabled>
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="{{data.menu.colacion.leguminosas}}" class="porciones" name="colaLeguminosas" disabled>
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="{{data.menu.colacion.origen}}" class="porciones" name="colaOrigen" disabled>
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="{{data.menu.colacion.leche}}" class="porciones" name="colaLeche" disabled>
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="{{data.menu.colacion.grasas}}" class="porciones" name="colaGrasas" disabled>
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="{{data.menu.colacion.azucares}}" class="porciones" name="colaAzucares" disabled>
            </td>
        </tr> 
        <tr>
            <th><i class="fa-solid fa-drumstick-bite"></i><p>Comidas</p</th>
                <td>
                    <input type="number" required min="0" required max="20" value="{{data.menu.comida.verduras}}" class="porciones" name="comiVerduras" disabled>
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="{{data.menu.comida.frutas}}" class="porciones" name="comiFrutas" disabled>
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="{{data.menu.comida.cereales}}" class="porciones" name="comiCereales" disabled>
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="{{data.menu.comida.leguminosas}}" class="porciones" name="comiLeguminosas" disabled>
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="{{data.menu.comida.origen}}" class="porciones" name="comiOrigen" disabled>
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="{{data.menu.comida.leche}}" class="porciones" name="comiLeche" disabled>
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="{{data.menu.comida.grasas}}" class="porciones" name="comiGrasas" disabled>
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="{{data.menu.comida.azucares}}" class="porciones" name="comiAzucares" disabled>
                </td>
        
        </tr>
        <tr>
                <th><i class="fa-solid fa-apple-whole"></i><p>Colación</p></th>
                <td>
                    <input type="number" required min="0" required max="20" value="{{data.menu.colacion2.verduras}}" class="porciones" name="colaVerduras2" disabled>
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="{{data.menu.colacion2.frutas}}" class="porciones" name="colaFrutas2" disabled>
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="{{data.menu.colacion2.cereales}}" class="porciones" name="colaCereales2" disabled>
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="{{data.menu.colacion2.leguminosas}}" class="porciones" name="colaLeguminosas2" disabled>
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="{{data.menu.colacion2.origen}}" class="porciones" name="colaOrigen2" disabled>
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="{{data.menu.colacion2.leche}}" class="porciones" name="colaLeche2" disabled>
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="{{data.menu.colacion2.grasas}}" class="porciones" name="colaGrasas2" disabled>
                </td>
                <td>
                    <input type="number" required min="0" required max="20" value="{{data.menu.colacion2.azucares}}" class="porciones" name="colaAzucares2" disabled>
                </td>
        </tr> 
        <tr>
            <th><i class="fa-solid fa-mug-saucer"></i><p>Cenas</p></th>
            <td>
                <input type="number" required min="0" required max="20" value="{{data.menu.cena.verduras}}" class="porciones" name="cenaVerduras" disabled>
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="{{data.menu.cena.frutas}}" class="porciones" name="cenaFrutas" disabled>
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="{{data.menu.cena.cereales}}" class="porciones" name="cenaCereales" disabled>
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="{{data.menu.cena.leguminosas}}" class="porciones" name="cenaLeguminosas" disabled>
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="{{data.menu.cena.origen}}" class="porciones" name="cenaOrigen" disabled>
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="{{data.menu.cena.leche}}" class="porciones" name="cenaLeche" disabled>
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="{{data.menu.cena.grasas}}" class="porciones" name="cenaGrasas" disabled>
            </td>
            <td>
                <input type="number" required min="0" required max="20" value="{{data.menu.cena.azucares}}" class="porciones" name="cenaAzucares" disabled>
            </td>
        </tr> 
    </table>
    <button type="button" class="btn btn-primary" id="lista2" onclick="openIngredientDialog()">Lista de Alimentos</button>
    <dialog id="alimentos">
        <div class="model-content">
            <div class="input-group mb-3" id="stBuscar">
                <input type="text" class="form-control"  id="inputBuscar" placeholder="Buscar alimento..." aria-label="Recipient's username" aria-describedby="button-addon2" onkeyup="filtrarTabla()">
                <!-- <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="filtrarTabla()">Buscar</button> -->
              </div>
            <input type="button" class="close" value="X">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary" id="verduras" onclick="fetchCategoryData(1)"><i class="fa-solid fa-carrot"></i> Verduras</button>
                <button type="button" class="btn btn-primary" id="frutas" onclick="fetchCategoryData(2)"><i class="fa-solid fa-apple-whole"></i> Frutas</button>
                <button type="button" class="btn btn-primary" id="cereales" onclick="fetchCategoryData(3)"><i class="fa-solid fa-wheat-awn"></i> Cereales</button>
                <button type="button" class="btn btn-primary" id="leguminosas" onclick="fetchCategoryData(4)"><i class="fa-solid fa-wheat-awn"></i> Leguminosas</button>
                <button type="button" class="btn btn-primary" id="origen" onclick="fetchCategoryData(5)"><i class="fa-solid fa-bacon"></i> Origen Animal</button>
                <button type="button" class="btn btn-primary" id="leche" onclick="fetchCategoryData(6)"><i class="fa-solid fa-mug-saucer"></i> Leche</button>
                <button type="button" class="btn btn-primary" id="grasas" onclick="fetchCategoryData(7)"><i class="fa-solid fa-cheese"></i> Grasas</button>
                <button type="button" class="btn btn-primary" id="azucares" onclick="fetchCategoryData(8)"><i class="fa-solid fa-ice-cream"></i> Azúcares</button>
                <button type="button" class="btn btn-primary" id="libres" onclick="fetchCategoryData(9)"><i class="fa-solid fa-face-smile-wink"></i> Libres</button>
            </div>
            <div id="modalContent">
            </div>
        </div>
    </dialog>
    <div class="recomendaciones">
        <section class="recomendacion">
             <h2>Recomendaciones</h2>
            <textarea name="" id="" cols="50" rows="10" disabled>{{data.menu.recomendacion}}</textarea>
        </section>
    </div>
    </div>
    </div>
    {% endif %}
	
</div>


<script>
    
    verificarGlucosa();
    verificarFreCardiaca();
    verificarFreResp();
    verificarPresion();
    verificarcreatinina();
    verificartemperatura();
    function mostrarContenido(id) {
        document.querySelectorAll('.contenido').forEach(function (contenido) {
            contenido.style.display = 'none';
        });
        document.getElementById(id).style.display = 'block';
    }
    function mostrarGrafico() {
        var tipo = parseInt(document.getElementById('tipo').value, 10);
        var url = "{% url 'grafica' id=datosPaciente.paciente.id tipo=0 %}".replace(0, tipo);
        console.log(url);

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById('grafico-container').innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", url, true);
        xhttp.send();
    }
    
    function verificarGlucosa() {
        var inputGlucosa = document.getElementById('glucosaInput');
        var valorGlucosa = inputGlucosa.value;
        var valorNumerico = parseFloat(valorGlucosa);
        document.getElementById('gnormal').style.display = 'none';
        document.getElementById('prediabetes').style.display = 'none';
        document.getElementById('diabetes').style.display = 'none';
        document.getElementById('ginvalida').style.display = 'none';
        if (valorNumerico <= 99) {
            document.getElementById('gnormal').style.display = 'block';
        } else if (valorNumerico >= 100 && valorNumerico <= 125) {
            document.getElementById('prediabetes').style.display = 'block';
        } else if (valorNumerico >= 126) {
            document.getElementById('diabetes').style.display = 'block';
        } else {
            document.getElementById('ginvalida').style.display = 'block';
        }
    }


    function verificarPresion() {
        var inputSist = document.getElementById('tasisInput');
        var inputDias = document.getElementById('tadiaInput');
        var valorSist = parseInt(inputSist.value, 10);
        var valorDias = parseInt(inputDias.value, 10);
        document.getElementById('pnormal').style.display = 'none';
        document.getElementById('pelevada').style.display = 'none';
        document.getElementById('paltan1').style.display = 'none';
        document.getElementById('paltan2').style.display = 'none';
        document.getElementById('pcrisis').style.display = 'none';
        document.getElementById('pinvalida').style.display = 'none';
        if (valorSist < 120 && valorDias <80){
            document.getElementById('pnormal').style.display = 'block'; 
        } else if((valorSist >= 120 && valorSist <= 129) && valorDias < 80 ){
            document.getElementById('pelevada').style.display = 'block';
        }else if((valorSist >= 130 && valorSist <= 139) || (valorDias >= 80 && valorDias <= 89 )){
            document.getElementById('paltan1').style.display = 'block';
        }else if (valorSist > 180 || valorDias > 120){
            document.getElementById('pcrisis').style.display = 'block';
        }else if(valorSist >= 140 || valorDias >= 90){
            document.getElementById('paltan2').style.display = 'block';
        }else{
            document.getElementById('pinvalida').style.display = 'block';
        }
    }


    function verificarFreCardiaca(){
        var inputFCardiaca = document.getElementById('fcardInput');
        var inputedad = document.getElementById('edadInput');
        var valorfFcardiaca = parseInt(inputFCardiaca.value, 10);
        var valoredad = parseInt(inputedad.value, 10);
        document.getElementById('fcnormal').style.display = 'none';
        document.getElementById('fcanormal').style.display = 'none';
        if (valoredad >= 10 && (valorfFcardiaca>=60 && valorfFcardiaca<=100)){
            document.getElementById('fcnormal').style.display = 'block';
        }else if (valoredad >= 10 && !(valorfFcardiaca>=60 && valorfFcardiaca<=100)){
            document.getElementById('fcanormal').style.display = 'block';
        }else if ((valoredad >= 7 && valoredad <= 9 ) && (valorfFcardiaca>=70 && valorfFcardiaca<=110)){
            document.getElementById('fcnormal').style.display = 'block';
        }else if ((valoredad >= 7 && valoredad <= 9 ) && !(valorfFcardiaca>=70 && valorfFcardiaca<=110)){
            document.getElementById('fcanormal').style.display = 'block';
        }else if ((valoredad >= 5 && valoredad <= 6 ) && (valorfFcardiaca>=75 && valorfFcardiaca<=115)){
            document.getElementById('fcnormal').style.display = 'block';
        }else if ((valoredad >= 5 && valoredad <= 6 ) && !(valorfFcardiaca>=75 && valorfFcardiaca<=115)){
            document.getElementById('fcanormal').style.display = 'block';
        }else if ((valoredad >= 3 && valoredad <= 4 ) && (valorfFcardiaca>=80 && valorfFcardiaca<=120)){
            document.getElementById('fcnormal').style.display = 'block';
        }else if ((valoredad >= 3 && valoredad <= 4 ) && !(valorfFcardiaca>=80 && valorfFcardiaca<=120)){
            document.getElementById('fcanormal').style.display = 'block';
        }else if ((valoredad >= 1 && valoredad <= 2 ) && (valorfFcardiaca>=80 && valorfFcardiaca<=130)){
            document.getElementById('fcnormal').style.display = 'block';
        }else if ((valoredad >= 1 && valoredad <= 2 ) && !(valorfFcardiaca>=80 && valorfFcardiaca<=130)){
            document.getElementById('fcanormal').style.display = 'block';
        }
    }



    function verificarFreResp(){
        var inputFRespiratoria = document.getElementById('frespInput');
        var inputedad2 = document.getElementById('edadInput2');
        var valorfFresp = parseInt(inputFRespiratoria.value, 10);
        var valoredad = parseInt(inputedad2.value, 10);
        document.getElementById('frnormal').style.display = 'none';
        document.getElementById('franormal1').style.display = 'none';
        document.getElementById('franormal2').style.display = 'none';

        if ((valoredad>=1 && valoredad<=3) && (valorfFresp>=24 && valorfFresp<=40)){
            document.getElementById('frnormal').style.display = 'block';
        }else if ((valoredad>=1 && valoredad<=3) && !(valorfFresp>=24 && valorfFresp<=40)){
            //document.getElementById('franormal').style.display = 'block';
        }else if ((valoredad>=3 && valoredad<=6) && (valorfFresp>=22 && valorfFresp<=34)){
            document.getElementById('frnormal').style.display = 'block';
        }else if ((valoredad>=3 && valoredad<=6) && !(valorfFresp>=22 && valorfFresp<=34)){
            //document.getElementById('franormal').style.display = 'block';
        }else if ((valoredad>=6 && valoredad<=12) && (valorfFresp>=18 && valorfFresp<=30)){
            document.getElementById('frnormal').style.display = 'block';
        }else if ((valoredad>=6 && valoredad<=12) && !(valorfFresp>=18 && valorfFresp<=30)){
            //document.getElementById('franormal').style.display = 'block';
        }else if ((valoredad>=12 && valoredad<=18) && (valorfFresp>=12 && valorfFresp<=16)){
            document.getElementById('frnormal').style.display = 'block';
        }else if ((valoredad>=12 && valoredad<=18) && !(valorfFresp>=12 && valorfFresp<=16)){
            //document.getElementById('franormal').style.display = 'block';
        }else if(valoredad>18 && (valorfFresp >=12 && valorfFresp <=20)){
            document.getElementById('frnormal').style.display = 'block';
        }else if(valoredad>18 && valorfFresp <12){
            document.getElementById('franormal1').style.display = 'block';
        }else if(valoredad>18 && valorfFresp >20){
            document.getElementById('franormal2').style.display = 'block';
        }
    }



    function verificartemperatura(){
        var inputTemperatura = document.getElementById('tempInput');
        var valortemp = parseFloat(inputTemperatura.value);
        document.getElementById('tnormal').style.display = 'none';
        document.getElementById('tanormal1').style.display = 'none';
        document.getElementById('tanormal2').style.display = 'none';
        if (valortemp>=36.5 && valortemp<=37){
            document.getElementById('tnormal').style.display = 'block';
        }else if (valortemp<36.5){
            document.getElementById('tanormal1').style.display = 'block';
        }else if (valortemp>37.0){
            document.getElementById('tanormal2').style.display = 'block';
        }
    }



    
    function verificarcreatinina(){
        var inputCreatinina = document.getElementById('creatininaInput');
        var inputsexo = document.getElementById('sexoinput');
        var inputpeso = document.getElementById('pesoinput');
        var inputedad3 = document.getElementById('edadInput3');
        var valorcreti = parseFloat(inputCreatinina.value);
        var valorpeso = parseFloat(inputpeso.value);
        var valoredad = parseInt(inputedad3.value, 10);
        document.getElementById('cretinormal').style.display = 'none';
        document.getElementById('cretianormal1').style.display = 'none';
        document.getElementById('cretianormal2').style.display = 'none';
        if (inputsexo = 'M'){
            if (valorcreti >= 0.74 && valorcreti <= 1.35){
                document.getElementById('cretinormal').style.display = 'block';
            }else if (valorcreti< 0.74){
                document.getElementById('cretianormal1').style.display = 'block';
            }else if (valorcreti > 1.35){
                document.getElementById('cretianormal2').style.display = 'block';
            }

            var fgm= (((140-valoredad) * valorpeso) / (72*valorcreti));
            fgm = fgm.toFixed(2);
            document.getElementById('fgmc').textContent = fgm +' ml/min'
            document.getElementById('fgmInput').value = fgm
            
            document.getElementById('fge').style.display = 'block';
            console.log(fgm);
            if (fgm<15){
                document.getElementById('fge').style.backgroundColor = 'red';
                document.getElementById('fge').textContent = 'Insuficiencia renal'
            }else if (fgm>=15 && fgm<=60){
                document.getElementById('fge').style.backgroundColor = 'orange';
                document.getElementById('fge').textContent = 'Enfermedad renal'
            }else if (fgm>60 && fgm<=90){
                document.getElementById('fge').style.backgroundColor = 'yellow';
                document.getElementById('fge').textContent = 'Enfermedad renal temprana'
            }else if (fgm>90 && fgm<=120){
                document.getElementById('fge').style.backgroundColor = 'green';
                document.getElementById('fge').textContent = 'Normal'
            }

        }else if (inputsexo = 'F'){
            if (valorcreti >= 0.59 && valorcreti <= 1.04){
                document.getElementById('cretinormal').style.display = 'block';
            }else if (valorcreti< 0.59){
                document.getElementById('cretianormal1').style.display = 'block';
            }else if (valorcreti > 1.04){
                document.getElementById('cretianormal2').style.display = 'block';
            }
            var fgm= (((140-valoredad) * valorpeso) / (72*valorcreti))* 0.85;
            document.getElementById('fgmc').textContent = fgm +' ml/min'
        }
    }


    var modal = document.getElementById("alimentos");
    var span = modal.querySelector(".close");
    span.onclick = function(){
        modal.close();
        modal.style.display='none';
    }
    window.onclick=function(event){
        if(event.target == modal){
            modal.close();
            modal.style.display='none';
        }
    }
    function fetchCategoryData(category){
        url="/api/foods/?category=" + category
        fetch(url)
        .then(response => response.json())
        .then(data => {
            if(data.error){
                //console.log(categoryData);
                
                alert("Aun no hay datos registrados en esa categoría")
            } else {
                fillModalWithData(data); 
            }
        })
        .catch(error => console.error('Error fetching JSON:',error));
    }
    function openIngredientDialog(){
        fetchCategoryData(1);
        const alertDialog = document.querySelector("#alimentos");
        alertDialog.showModal();
    }
    async function fillModalWithData(categoryData){
        var modelData = '';
            modelData = `<table class="table table-hover" id="tablaModal">
        <thead>
            <tr class="titulo">
                <th>ID</th>
                <th class="sticky">Nombre</th>
                <th>Tipo</th>
                <th>Unidad</th>
                <th>Porción</th>
                <th>Peso</th>
                <th>Peso neto</th>
                <th>Energía (kcal)</th>
                <th>Proteína (g)</th>
                <th>Lípidos (g)</th>
                <th>Carbohidratos (g)</th>
                <th>AG saturados (g)</th>
                <th>AG monoinsaturados (g)</th>
                <th>AG poliinsaturados (g)</th>
                <th>Colesterol (g)</th>
                <th>Azúcar (g)</th>
                <th>Fibra (g)</th>
                <th>Vitamina A (mg RE)</th>
                <th>Ácido Ascórbico (mg)</th>
                <th>Ácido Fólico (mg)</th>
                <th>Calcio (mg)</th>
                <th>Hierro (mg)</th>
                <th>Potasio (mg)</th>
                <th>Sodio (mg)</th>
                <th>Fósforo (mg)</th>
                <th>Etanol (g)</th>
                <th>IG</th>
                <th>Carga Glicémica</th>
            </tr>
        </thead>
        <tbody id="food-table-body">
                        `;
            /*for(var key in categoryData){
                var item = categoryData[key];
                modelData += `
                    <tr>
                        <td>${key}</td>
                        <td>${item.Categoría}</td>
                        <td>${item.Unidad}</td>
                        <td>${item.Porcion}</td>
                        <td>${item.Energia}</td>
                        <td>${item.Proteina}</td>
                        <td>${item.Lipidos}</td>
                        <td>${item.HidratosDeCarbono}</td>
                    </tr>
                `;
            }*/
           categoryData.forEach(item => {
                const tipoNombre = item.tipo_nombre;
                const unidadId = item.unidad;
                const unidadNombre = item.unidad_nombre;

                modelData += `
                    <tr>
                         <td> ${item.id}</td>
                          <td class="sticky"> ${item.nombre}</td>
                           <td>  ${tipoNombre}</td>
                           <td>  ${item.porcion}</td>
                           <td>  ${unidadNombre}</td>
                            <td>  ${item.peso}</td>
                            <td>  ${item.peso_neto}</td>
                            <td>  ${item.energia}</td>
                            <td>  ${item.proteina}</td>
                            <td>  ${item.lipidos}</td>
                            <td>  ${item.carbos}</td>
                            <td>  ${item.ag_satur}</td>
                            <td>  ${item.ag_mono}</td>
                            <td>  ${item.ag_poli}</td>
                            <td>  ${item.colesterol}</td>
                            <td>  ${item.azucar}</td>
                            <td>  ${item.fibra}</td>
                            <td>  ${item.vita_A}</td>
                            <td>  ${item.aci_asc}</td>
                            <td>  ${item.aci_foli}</td>
                            <td>  ${item.calcio}</td>
                            <td>  ${item.hierro}</td>
                            <td>  ${item.potasio}</td>
                            <td>  ${item.sodio}</td>
                            <td>  ${item.fosforo}</td>
                            <td>  ${item.etanol}</td>
                            <td>  ${item.ig}</td>
                            <td>  ${item.carga_gli}</td>`
                    });
           
                            modelData += `</table>`
        document.getElementById('modalContent').innerHTML=modelData;
        document.getElementById('alimentos').style.display='block'
    }
    
    async function getUnidadName(unidadId){
        try{
            const response = await fetch('api/units/?id=${unidadId}');
            const data = await response.json();
            return data.unidad;
        } catch (error){
            console.error('Error fetching unidad name:', error);
            return 'Unknown';
        }
    }
    function filtrarTabla() {
    debugger
  //  console.log("estoy dentro")
    // Obtener el valor de búsqueda y convertirlo a minúsculas
    let input = document.getElementById('inputBuscar');
    
    let filter = input.value.toLowerCase();
    console.log("soy filter ,", filter)
    // Obtener la tabla y sus filas
    let table = document.getElementById('tablaModal');
    //console.log(table)
    let tr = table.getElementsByTagName('tr');
    //console.log("inicio")
    //console.log(tr)
    
    // Recorrer todas las filas de la tabla (excepto el encabezado)
    for (let i = 1; i < tr.length; i++) {
        // Obtener el <td> con la clase 'sticky' y 'nombre' de la fila actual
        let td = tr[i].getElementsByClassName('sticky')[0];
        
        if (td) {
            // Obtener solo el texto del <td>
            let txtValue1 = td.textContent || td.innerText;
            let txtValue = txtValue1.substring(1) 
            console.log(txtValue)
            console.log(`Fila ${i}, contenido de td: ${txtValue.toLowerCase()}`);
            
            // Comprobar si el contenido del <td> coincide exactamente con el valor de búsqueda
            if (filter === '' || txtValue.toLowerCase().includes(filter)) {
                tr[i].style.display = "";  // Mostrar la fila si hay coincidencia
            } else {
                tr[i].style.display = "none";  // Ocultar la fila si no hay coincidencia
            }
        } else {
            console.log(`Fila ${i} no tiene un <td> con la clase 'nombre'.`);
        }
    }
}
</script>


{% endblock %}