.porciones{
    margin-top: 5%;
    width: 60px;
    font-size: 30px;
    border-radius: 5px;
}
.close{
    cursor: pointer;
    margin-left: 90%;
}
.model-content{
    justify-content: space-between;
}
#lista{
    display: flex;
    margin-left: 75%;
    width: 190px;
    height: 50px;
    font-size: larger;
    text-align: justify;
    background-color: #166088;
    border-color: #166088;
}
#lista:hover{
    background: #1f83b8;
    border-color: #1f83b8;
}


#verduras {
    background-color: #166088;
    border-color: #166088;
}
#verduras:hover{
    background: #1f83b8;
    border-color: #1f83b8;
}

#frutas {
    background-color: #166088;
    border-color: #166088;
}
#frutas:hover{
    background: #1f83b8;
    border-color: #1f83b8;
}

#cereales {
    background-color: #166088;
    border-color: #166088;
}
#cereales:hover{
    background: #1f83b8;
    border-color: #1f83b8;
}

#leguminosas {
    background-color: #166088;
    border-color: #166088;
}
#leguminosas:hover{
    background: #1f83b8;
    border-color: #1f83b8;
}

#origen {
    background-color: #166088;
    border-color: #166088;
}
#origen:hover{
    background: #1f83b8;
    border-color: #1f83b8;
}

#leche {
    background-color: #166088;
    border-color: #166088;
}
#leche:hover{
    background: #1f83b8;
    border-color: #1f83b8;
}

#grasas {
    background-color: #166088;
    border-color: #166088;
}
#grasas:hover{
    background: #1f83b8;
    border-color: #1f83b8;
}


#azucares {
    background-color: #166088;
    border-color: #166088;
}
#azucares:hover{
    background: #1f83b8;
    border-color: #1f83b8;
}

#libres {
    background-color: #166088;
    border-color: #166088;
}
#libres:hover{
    background: #1f83b8;
    border-color: #1f83b8;
}

#nutri{
    background-color: #166088;
    border-color: #166088;
}
#nutri:hover{
    background: #1f83b8;
    border-color: #1f83b8;
}
#tabla{
width: 80%;
margin-left: 10%;
}
#lista{
    display: flex;
}
.recomendaciones{
    width: 40%;
    margin-left: 10%;
}
.recomendacion{
    text-align: center;
    justify-content: center;
}
.recomendaciones textarea{
    width: 100%;
    border-radius: 20px;
    outline: none;
    resize: none;
    border-color: black;
    border-width: 2px;
    padding: 14px;
}
