.porciones{
    margin-top: 5%;
    width: 60px;
    font-size: 30px;
    border-radius: 5px;
}
.close{
    cursor: pointer;
    margin-left: 90%;
}
.model-content{
    justify-content: space-between;
}
#tabla{
width: 80%;
margin-left: 10%;
}
#lista{
    display: flex;
}
.recomendaciones{
    width: 40%;
    padding: 25px 25px 30px;
    margin-left: 10%;
}
.recomendaciones textarea{
    width: 100%;
    border-radius: 20px;
    outline: none;
    resize: none;
    border-color: black;
    border-width: 2px;
    padding: 14px;
}
